## Default .htaccess file
Options +FollowSymLinks
RewriteEngine On

## RewriteBase values :
## dev : /toumlilt.com/
## prod : /
RewriteBase /

# redirect all HTTP to HTTPS
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://toumlilt.com/$1 

# default www/topnav stuff :
RewriteRule ^index$ index.php
RewriteRule ^blog$ www/articles/articles.php
RewriteRule ^about-me$ www/aboutme/aboutme.php

#remove the need for .php extention
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php